.card-container {
  padding: 10px;
}

.example-card {
  width: 200px;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-title {
  width: 175px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}